1 VERSIONINFO
FILEVERSION 0,9,1,1
PRODUCTVERSION 0,9,1,1
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Dostovalov Vitaly"
      VALUE "FileDescription", "Secure tunnel with GOST algorithm support"
      VALUE "FileVersion", "0,9,1,1"
      VALUE "InternalName", "gostunnel"
      VALUE "LegalCopyright", "Copyright © 2014 Dostovalov Vitaly"
      VALUE "OriginalFilename", "gostunnel.exe"
      VALUE "ProductName", "GOSTunnel"
      VALUE "ProductVersion", "0,9,1,1"
    END
  END 
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0419, 0x0409
  END
END